* {
	font-family: Arial, Helvetica, sans-serif;
}

.header-container, section div, .footer-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}


/* HEADER */

header {
	background-color: transparent;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-container a {
	color: white;
}

.headphones-logo {
	width: 162px;
	height: 32px;
	background-image: url("images/logo_headphones.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.nav-list, .social-media ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 1.25rem;
	display: flex;
}

a {
	text-decoration: none;
	font-size: .8rem;
	font-weight: bold;
	color: initial;
}

.nav-link {
	display: block;
	position: relative;
}

@media (min-width: 480px) {
	.nav-responsive-list {
		display: none;
		overflow: hidden;
	}
}

.nav-responsive-list {
	position: absolute;
	top: 8px;
	left: 8px;
}

@media (max-width: 480px) {
	.nav-responsive-list svg {
		cursor: pointer;
	}
	.navbar .nav-list {
		display: none;
		overflow: hidden;
	}

	header .headphones-logo {
		position: relative;
		left: 5em;
	}

	.nav-responsive-list:focus .nav-list{
		display: block;
		overflow: initial;
		position: relative;
		left: 32.5vw;
		line-height: 2rem;
	}
}

.intro h1, .intro h4, .intro a, .intro p,
.results h1, .results p {
	color: white;
}

/* MAIN */

main {
	margin: 0;
	padding: 0;
	position: absolute;
	top: -23px;
	left: 0;
	z-index: -1;
	display: block;
}

main section {
	margin: 0;
	padding: 0;
}

.intro, .what-we-do, .results, .contact {
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	min-height: 50em;
}

/* main intro */

.intro {
	background-image: url("images/headphones_hero_1.jpg");
	background-color: rgb(7, 22, 41);
}

h1 {
	font-size: 1.75em;
}

h4 {
	margin-top: -10px;
}

h4, p {
	font-size: smaller;
}

p {
	line-height: 25px;
}

@media (max-width: 480px) {
	.intro {
		background-position: -100vw;
	}
}

.intro-container {
	text-align: center;
	position: relative;
	top: 23em;
	max-width: 37%;
}

@media (min-width: 480px) and (max-width: 820px) {
	.intro-container {
		max-width: 75%;
	}
}

@media (max-width: 480px) {
	.intro-container {
		max-width: 80%;
		top: 18em;
	}
}

.call-to-action {
	display: block;
	z-index: 10;
	background-color: #FF6565;
	padding: 12.5px 8px;
	margin: 50px auto;
	border-radius: 20px;
	font-weight: bold;
	width: 150px;
}

/* main what we do */

.what-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	width: 82vw;
	top: 4em;
}

.what-container > h1 {
	margin-top: 80px;
}

.what-container > p {
	display: block;
	max-width: 40vw;
	font-size: initial;
}

@media (max-width: 820px) {
	.what-container, .what-container > p {
		max-width: 90vw;
	}

	.what-container {
		top: 0;
	}
}

.items {
	margin-top: 30px;
	margin-bottom: 80px;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
}

.img-container {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.item1, .item2, .item3, .item4 {
	width: 207px;
	height: 180px;
	text-align: center;
	margin: 30px 0;
}

.item1 .img-container {
	width: 95px;
	height: 66px;
	background-image: url("images/item1.png");
}

.item2 .img-container {
	width: 68px;
	height: 77px;
	background-image: url("images/item2.png");
}

.item3 .img-container {
	width: 52px;
	height: 58px;
	background-image: url("images/item3.png");
}

.item4 .img-container {
	width: 62px;
	height: 62px;
	background-image: url("images/item4.png");
}


/* main results */

.results {
	background-color: darkblue;
}

/* main contact */


/* FOOTER */

footer {
	position: relative;
}

.footer-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.logo-social {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.footer-container p {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
